* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

/* Section Containing the Nav bar */

nav {
    background: slategrey;
    position: relative;
    padding: 0;
    margin: 0;
    height: 10vh;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid white;
}

.main-nav {
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 5vh;
    width: 200px;
    text-align: center;
    color: greenyellow;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sub-link {
    width: 200px;
}

#sub-link li {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

#sub-link a {
    color: greenyellow;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 20px;
    text-decoration: none;
}

#sub-link a:hover {
    color: black;
}

/* CSS for the Title Section */

.title-section {
    margin-top: 60px;
    height: 20vh;
    position: relative;
}

.title {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 60px;
}

#main-title {
    color: greenyellow;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#sub-title {
    color: greenyellow;
    font-size: 30px;
    font-family: sans-serif;
}

/* Log In Section CSS  */
.main-login {
    height: 20vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.sub-login {
    display: flex;
    justify-content: center;
}

.sub-login span {
    padding-top: 50px;
}

.sub-login input,
#signin {
    width: 200px;
    height: 40px;
    outline: none;
    margin-left: 20px;
    border-radius: 10px;
}

input {
    text-align: center;
    color: black;
    font-size: 20px;
}

#signin {
    border-radius: 20px;
    margin-left: 20px;
    background: slategrey;
    color: greenyellow;
    font-size: 20px;
}